.jumbotron{
    background-color: rgb(76, 163, 204);
    color: black;
    margin-top: 50px;
}
footer{
    padding: 15px 20px 10px 20px;
    background-color: #6e6e65;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1.2em;
}
.card-hotel{
    flex: 1 200px;
    padding: .5px;
    margin-top: 10px;
    
}
.btn-reserva{
    width:100%;
   border-radius: 0px;
}
a{
    color: rgb(13, 13, 143);
}
img{
    margin-bottom: 5px;
}


.footer-address-icon{
    padding-right:10px ;
}

.tab-content{
    padding-top: 10px;
    
}

