$yellow:#bbda10;
$red:#c93828;
$green:#17bd4e;
@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
@mixin padding($top,$bottom,$left,$right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}
@mixin color($color) {
    color:$color;
}
.jumbotron{
    background-color: $green;
    color: black;
    @include margenes(10px,0px );
}
footer{
    @include padding(15px, 20px, 10px, 20px);
    
    background-color: $yellow;
    @include margenes(10px,0px );
    font-size: 1.2em;
}
.card-hotel{
    flex: 1 200px;
    @include padding(.5px, .5px, .5px, .5px);
    @include margenes(10px,0px );
    
}
.btn-reserva{
    width:100%;
   border-radius: 0px;
}
a{
    @include color($red);
}
img{
    @include margenes(0p,5px );
}


.footer-address-icon{
    @include padding(0px, 0px, 0px, 5px);
}

.tab-content{
    @include padding(10px, 0px, 0px, 0px);
    
}

