.jumbotron {
  background-color: #17bd4e;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #bbda10;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.2em; }

.card-hotel {
  flex: 1 200px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

a {
  color: #c93828; }

img {
  margin-top: 0p;
  margin-bottom: 5px; }

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }

/*# sourceMappingURL=styles.css.map */
