@yellow:#fffa19;
@red:#c93828;
@green:#17bd4e;
.margenes(@top,@bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
    
}
.padding(@top,@bottom,@left,@right) {
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}
.color(@color) {
    color:@color;
}
.jumbotron{
    background-color: @green;
    color: black;
    .margenes(10px,0px );
}
footer{
    .padding(15px, 20px, 10px, 20px);
    
    background-color: @yellow;
    .margenes(10px,0px );
    font-size: 1.2em;
}
.card-hotel{
    flex: 1 200px;
    .padding(.5px, .5px, .5px, .5px);
    .margenes(10px,0px );
    
}
.btn-reserva{
    width:100%;
   border-radius: 0px;
}
a{
    .color(@red);
}
img{
    .margenes(0p,5px );
}


.footer-address-icon{
    .padding(0px, 0px, 0px, 5px);
}

.tab-content{
    .padding(10px, 0px, 0px, 0px);
    
}

